/* OurServices.css */
#our-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  color: #5CAB72;
  margin-bottom: 10px;
  font-family: outfit;
}

.section-heading {
  font-size: 40px;
  color: #333;
  margin-bottom: 30px;
  font-family: outfit;
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  max-width: 100vw; 
  overflow: hidden;
}

.service {
  flex: 1;
  margin: 5%;
  padding: 50px; /* Increase the padding to make each card bigger */
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 24px 48px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2.5s ease, transform 2.5s ease, scale 0.5s ease-in-out;
}

.service:hover {
  scale: 1.1;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4), 0 32px 64px rgba(0, 0, 0, 0.3);
  transition: 0.8s ease;
  cursor: pointer;
}

.service svg {
  width: 100%;
  height: 100px;
  object-fit: cover; 
  border-radius: 10px;
  margin-bottom: 10px;
}

.service-heading {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  font-family: outfit;
}

.service-p {
  font-size: 20px;
  color: #666;
  font-family: outfit;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .section-title {
    font-size: 30px;
  }

  .section-heading {
    font-size: 24px;
  }

  .services-container {
    flex-direction: column; /* Display cards in a column on smaller screens */
    align-items: center; /* Center the cards horizontally */
    gap: 10px; /* Reduce the spacing between the cards */
    max-width: 100%; /* Ensure the cards take up the full width */
  }

  .service {
    flex-basis: 100%; /* Make each card take up the full width */
    margin: 8px; /* Reduce the margin around each card */
    padding:18px; /* Further reduce the padding for each card */
    box-shadow: none;
    border: 2px solid #5CAB72;
  }

  .service:hover {
    scale: 1; /* Set the scale back to 1 to disable the hover scaling */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 16px 32px rgba(0, 0, 0, 0.2); /* Use the original box-shadow for the hover state */
    transition: none; /* Remove the hover transition effect */
    cursor: auto; /* Remove the hover cursor */
    box-shadow: none;
  }

  .service svg {
    height: 60px; /* Reduce the height of the service icon on smaller screens */
  }

  .service-heading {
    font-size: 20px; /* Reduced font size for service heading */
  }

  .service-p {
    font-size: 14px; /* Reduced font size for service description */
  }
}
