.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .box .navbar-wrapper {
    border: 0px none;
    overflow-x: hidden;
    position: relative;
    width: 1326px;
    margin-left: 10%;
  }
  
  .box .navbar {
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1342px;
  }
  
  .box .text-wrapper {
    color: #ffffff;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 15px;
    font-weight: 800;
    left: 756px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 102px;
  }
  
  .box .div {
    color: #ffffff;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 15px;
    font-weight: 800;
    left: 893px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 84px;
  }
  
  .box .text-wrapper-2 {
    color: #fbf3f3;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 15px;
    font-weight: 800;
    left: 401px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 84px;
  }
  
  .box .text-wrapper-3 {
    color: #f5ebeb;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 15px;
    font-weight: 800;
    left: 520px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 83px;
  }
  
  .box .text-wrapper-4 {
    color: #ffffff;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 15px;
    font-weight: 800;
    left: 638px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 83px;
  }
  
  .box .ai-profolio {
    color: transparent;
    font-family: "Outfit-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10%;
    letter-spacing: 2px;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 146px;
  }
  
  .box .span {
    color: #318549;
  }
  
  .box .text-wrapper-5 {
    color: #ffffff;
  }
  
  .box .overlap {
    border-radius: 50px;
    height: 37px;
    left: 1221px;
    position: absolute;
    top: 1px;
    width: 105px;
  }
  
  .box .rectangle {
    border: 0.5px solid;
    border-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 105px;
  }
  
  .box .text-wrapper-6 {
    -webkit-text-stroke: 0.5px #000000;
    color: #f8f8f8;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 12px;
    font-weight: 800;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 77px;
  }
  
  .box .overlap-group {
    height: 37px;
    left: 1096px;
    position: absolute;
    top: 0;
    width: 105px;
  }
  
  .box .img {
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 105px;
  }
  
  .box .sign-in {
    -webkit-text-stroke: 0.5px #000000;
    color: #f8f8f8;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    width: 70px;
  }
  
  .box .text-wrapper-7 {
    font-weight: 800;
  }
  
  .box .text-wrapper-8 {
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
  }