html {
  scroll-behavior: smooth;
}
/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

/* Navbar brand (AiProfolio) on the left */
.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  font-family: outfit;
}

/* Navbar items (Home, Services, About, Contact, Testimonials) in the center */
.navbar-items {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.navbar-items li {
  margin: 0 10px;
  font-family: outfit;
}

.navbar-items li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar-items li a:hover {
  color: #5CAB72; /* Change the color on hover */
}

/* Sign In and Register buttons on the right */
.navbar-right {
  display: flex;
  gap: 2rem;
}

.Ai {
  color: #5CAB72;
}

.navbar-SignIn {
  background-color: #5CAB72;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: outfit;
}

.navbar-SignIn:hover {
  background-color: #fff;
  text-shadow: none;
  color: #333;
}

.navbar-Register {
  background-color: transparent;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 30px; 
  transition: all 0.3s ease;
  font-family: outfit;
  border: 1px solid white;
}

.navbar-Register:hover {
  background-color: #fff;
  color: #333;
  text-shadow: none;
}

.navbar-SignOut {
  background-color: #5CAB72;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: outfit;
}

.navbar-SignOut:hover {
  background-color: #fff;
  text-shadow: none;
  color: #333;
}