.bod section{
  position: relative;
  background: #161623;
}

#team {
  font-size: 60px;
  font-weight: bold;
  color: #fff; 
  margin: 0; 
  padding: 10px; 
  position: absolute;
  top: 15vh; 
  left: 50%;
  transform: translateX(-50%); 
  font-family: outfit;
  text-align: center;
}

.bod section::before{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(129, 205, 139), rgb(29, 119, 36));
  clip-path: circle(30% at right 70%);
}

.bod section::after{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#166f35, #136526);
  clip-path: circle(20% at 10% 10%);
}

.container{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100vh;
  padding-top: 5vh;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
}

.container .card .sci li{
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s) * var(--i);
}

.container .card:hover .sci li{
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li a {
  color: white;
  font-size: 24px;
}

@media (max-width: 768px) {
  #team {
    font-size: 40px;
    width: 100%;
    position: relative;
    z-index: 100;
    top: 2.5vh;

  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
    padding-top: 5vh;
    padding-bottom: 7.5vh;
  }

  .container .card {
    width: 60%;
    max-width: 900px;
    min-width: 85px;
    height: 200px;
    margin: 0;
    box-shadow: none; 
    cursor: default; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .card .content {
    opacity: 1; /* Show the content by default on mobile (no hover effect) */
    transform: none; /* No translation on mobile (no hover effect) */
  }

  .container .card .content .imgBx {
    width: 100px;
    height: 100px;
    border: 5px solid rgba(0, 0, 0, 0.25);
  }

  .container .card .content .contentBx h3 {
    font-size: 12px;
    margin: 10px 0 5px;
  }

  .container .card .sci {
    width: 100%;
    display: flex; /* Show the social icons by default on mobile */
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 4;
    right: 0;
    opacity: 1;
  }

  .container .card:hover .content{
    transform: none;
  }

  .container .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: none; /* No translation on mobile (no hover effect) */
    opacity: 1;
    transition: none; /* No transition on mobile (no hover effect) */
  }

  .container .card .sci li a {
    font-size: 24px;
    color: white;
  }
}

.social_icon{
  padding: 0;
}

.menu {
  padding: 0;
}

