@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

#particles-js {
    z-index: inherit;
}

#hero {
    height: 100vh;
    width: 100vw;
    font-family: "Outfit";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    background-color: #383838;
}

#hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25vh;
    user-select: none;
}

#hero-title h1,
#hero-title p {
    display: inline;
    position: relative;
    z-index: 10;
}

#hero-title h1:first-child {
    margin-right: 10px;
}

#hero-title h1 {
    font-size: 7.5rem;
    color: white;
    margin: 0;
}

#hero-title p {
    font-size: 2.5rem;
    color: rgb(183, 183, 183);
    margin: 0 auto;
    overflow: hidden;
    border-right: .15rem solid white;
    white-space: nowrap;
    letter-spacing: .15rem;
    animation:
        typing 3.5s steps(40, end),
        blink .75s step-end infinite;
}

#hero-title #hero-ai {
    color: #4d935d;
}

.get-started-button {
    padding: 16px 32px;
    font-size: 1.5rem;
    font-family: outfit;
    background-color: #4d935d;
    color: #fff;
    border: 0.5px solid;
    border-color: #000000;
    border-radius: 50px;
    position: relative;
    z-index: 100;
    opacity: 0;
    box-shadow: 0px 4px 8px #ffffff;
    animation: appear 3s 1.5s forwards;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.get-started-button:hover {
    cursor: pointer;
    background-color: #fff;
    text-shadow: none;
    color: #333;

}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    #hero-title h1 {
        font-size: 3rem;
    }

    #hero-title p {
        font-size: 1.2rem;
    }

    .get-started-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}