body {
    background-color: #5CAB72;
}
.register {
    background-color: #5cab72;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    height: 81vh;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    font-family: outfit;
  }
  
  .register h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color:white;
    font-family: outfit;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  
  .register p {
    font-size: 25px;
    color: #777;
    margin-bottom: 50px;
    color:white;
    width: 100%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  
  .register #error-message {
    color: rgb(136, 0, 0);
    font-weight: 1000;
    font-size: 16px;
    margin-top: 10px;
    margin: 0 auto;
    overflow: hidden;
    border-right: .15rem solid rgb(136, 0, 0);
    white-space: nowrap;
    letter-spacing: .1rem;
    animation:
        typing-medium 1s steps(40, end),
        blink-red .75s step-end infinite;
  }

  .register #error-message-short {
    color: rgb(136, 0, 0);
    font-weight: 1000;
    font-size: 16px;
    margin-top: 10px;
    margin: 0 auto;
    overflow: hidden;
    border-right: .15rem solid rgb(136, 0, 0);
    white-space: nowrap;
    letter-spacing: .1rem;
    animation:
        typing-short 1s steps(40, end),
        blink-red .75s step-end infinite;
  }

  .register #error-message-long {
    color: rgb(136, 0, 0);
    font-weight: 1000;
    font-size: 16px;
    margin-top: 10px;
    margin: 0 auto;
    overflow: hidden;
    border-right: .15rem solid rgb(136, 0, 0);
    white-space: nowrap;
    letter-spacing: .1rem;
    animation:
        typing-long 1s steps(40, end),
        blink-red .75s step-end infinite;
  }

  .GoogleButton {
    background-color: #4285f4;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .GoogleButton:hover {
    background-color: #246db4;
  }
  
  .separator {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
  }
  
  .separator span {
    margin: 0 10px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .regForm input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 300px;
    box-sizing: border-box;
  }
  
  .SignButton {
    background-color: white;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
  }
  
  .SignButton:hover {
    background-color: #4d935d;
  }

  .footer {
    background-color: #333;
    height: 135px;
  }
  
@keyframes blink-red {
    from, to {border-color: transparent;}
    50%{ border-color: rgb(136, 0, 0);}
}

@keyframes typing-short {
  from {width: 0}
  to {width: 225px;}
}

@keyframes typing-medium {
  from {width: 0}
  to {width: 375px;}
}

@keyframes typing-long {
  from {width: 0;}
  to {width: 475px;}
}