@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;800&display=swap');
.timeline {
    position: relative;
    margin: 0 auto;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    /* background: linear-gradient(to bottom, white, black); */
    left: 50%;
    margin-left: -3px;
    border-radius: 20px;
}
/* Clear floats after containers */
.timeline .container::after {
    content: "";
    display: table;
    clear: both;
}
/* Containers on the left */
.timeline .container:nth-child(odd) {
    float: left;
    left: 0;
    animation: loadIn .5s forwards .2s;
}
/* Containers on the right */
.timeline .container:nth-child(even) {
    float: right;
    right: 0;
    animation: loadIn .5s forwards .2s;
}
.timeline::after {
    content: "";
    display: table;
    clear: both;
  }
.timeline .container:hover {
    cursor: pointer;
}
.timeline .container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25px;
    right: -10px;
    border-radius: 50%;
    z-index: 1;
    transition: all .3s ease;
}
.timeline .container:hover::after {
    width: 40px;
    height: 40px;
}
.timeline .container:hover .content {
    transform: rotateY(180deg);
}
.right {
    animation: loadIn .5s forwards .2s;
}
.left {
    animation: loadIn .5s forwards .2s;
}
@keyframes loadIn {
    from { opacity: 0; }
    to { opacity: 1; }
}