.slide {
    flex: none;
    margin-right: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    align-items: center;
}

#projects {
    text-align: center;
    align-items: center;
}
.prod-item{
    width: 75vw;
    
    
}
li.slide.selected{
    
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-root{
    width: 75%;
    gap: 100px;
}

button .control-arrow .control-next {
    padding: 0;
}

.carousel.carousel-slider .control-arrow:hover {
   background: none !important;
}

p.carousel-status{
    opacity: 0;
}
