/* YourComponent.css */

/* Entire Saved Container */
.entire-saved {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Top Buttons */
  .top-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  /* Saved and Popular Buttons */
  .saved-button,
  .popular-button {
    flex: 1;
  }

  .top-buttons {
    list-style: none;
    text-decoration: none;
  }

/* Saved and Popular Buttons */
.saved{
    background-color: green;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: outfit;
  }

  .popular{
    background-color: lightpink;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: outfit;
  }
  /* Search with Create and Delete Buttons */
  .search-with-create-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchbar {
    flex: 1.5;
  }
  
  .searchbar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .createNew,
  .delete {
    flex: 1;
    margin-left: 100px;
  }
  
  .createNew button,
  .delete button {
    background-color: #5CAB72;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    background-color: white;
  }
  
  /* Template Grid */
  .classesContainer {
    padding: 20px;
    border-radius: 50%;
  }
  
  .classesCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .classesMedia {
    padding-top: 56.25%; /* Maintain aspect ratio for the image */
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .classesContent {
    flex: 1;
    padding: 16px;
  }
  
  .classesContent h2 {
    margin-bottom: 8px;
  }
  
  .classesContent p {
    color: #444;
  }
  
  .CardActions {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
  }
  
  .Button {
    margin-left: 8px;
  }
  
  @media (max-width: 600px) {
    /* Adjust the card layout for smaller screens */
    .classesCard {
      width: 100%;
    }
  }

  .search-with-create-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Adjust this value to increase/decrease the spacing between elements */
  }
  
  





  