/* YourComponent.css */

/* Entire Saved Container */
.entire-saved {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Top Buttons */
  .top-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  /* Saved and Popular Buttons */
  .saved-button,
  .popular-button {
    flex: 1;
  }

  .top-buttons {
    list-style: none;
    text-decoration: none;
  }

/* Saved and Popular Buttons */
.saved{
    background-color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: outfit;
  }
  /* Search with Create and Delete Buttons */
  .search-with-create-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchbar {
    flex: 1.5;
  }
  
  .searchbar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .createNew,
  .delete {
    flex: 1;
    margin-left: 20px;
  }
  
  .createNew button,
  .delete button {
    background-color: #5CAB72;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Template Grid */
  .template-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  /* Add additional styles as needed */
  